.body {
  font-size: 1.5rem; }

.calc {
  display: flex;
  flex-direction: column;
  width: 16rem; }

.expression {
  font-size: 1rem;
  text-align: right; }

.display {
  text-align: right; }

.padButtons {
  display: flex;
  flex-wrap: wrap; }

.buttons {
  width: 4rem;
  height: 4rem; }

.doubleW {
  width: 8rem; }

.doubleH {
  height: 8rem; }

#zero, #decimal, #equals {
  margin-top: -4rem; }
