.calc {
  display: flex;
  flex-direction: column;
  width: 16em; }

.padButtons {
  display: flex;
  flex-wrap: wrap; }

.buttons {
  width: 4em;
  height: 4em; }

.doubleW {
  width: 8em; }

.doubleH {
  height: 8em; }
