#display {
  text-align: right;
  height: 3em; }

.calc {
  display: flex;
  flex-direction: column;
  width: 16em; }

.padButtons {
  display: flex;
  flex-wrap: wrap; }

.buttons {
  width: 4em;
  height: 4em; }

.doubleW {
  width: 8em; }

.doubleH {
  height: 8em; }

#zero, #decimal, #equals {
  margin-top: -4em; }
