$buttonWidth: 4em;
$buttonHeight: 4em;

#display {
    text-align: right;
    //border: 0.1em solid black;
    height: 3em;
}

.calc {
    display: flex;
    flex-direction: column;
    width: 16em;
    //border: 0.2em solid black;
}

.padButtons {
    display: flex;
    flex-wrap: wrap;    
}

.buttons {
    width: $buttonWidth;
    height: $buttonHeight;
}

.doubleW {
    width: 8em;
}

.doubleH {
    height: 8em;
}

#zero, #decimal, #equals {
    margin-top: -4em;
}