$buttonWidth: 5rem;
$buttonHeight: 4rem;
//$fontSize: 

.body {
    font-size: 2rem;
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    width: $buttonWidth * 4 + 0.812rem;   
    border: 0.4rem solid #099453;
    border-radius: 0.2rem;
}

.displayWrap {
    background-color: #667b30;
    //border: 0.2rem solid #ffffff; 
    border-bottom:  0.3rem solid #099453;   
}

.expression {
    font-size: 1rem;
    text-align: right;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    word-wrap: break-word;
}

.display {
    font-size: 1.7rem;
    text-align: right;
    margin-right: 0.3rem;  
    margin-left: 0.3rem;      
}

.padButtons {
    display: flex;
    flex-wrap: wrap;    
}

.buttons {    
    width: $buttonWidth;
    height: $buttonHeight;
    background-color: #099453;
    color: #ffffff;
}

.doubleW {
    width: $buttonWidth * 2;
}

.doubleH {
    height: $buttonHeight * 2;
}

#clear {
    background-color: #D5400D;
}

.operators {
    background-color: #105988;
    color: #ffffff;
}

#zero, #decimal, #equals {
    margin-top: -$buttonHeight;
}