$buttonWidth: 4rem;
$buttonHeight: 4rem;

.calc {
    display: flex;
    flex-direction: column;
    width: 16rem;
    //border: 0.2em solid black;
}

#display {
    text-align: right;
    //border: 0.1em solid black;
    height: 3rem;
}

.padButtons {
    display: flex;
    flex-wrap: wrap;    
}

.buttons {
    width: $buttonWidth;
    height: $buttonHeight;
}

.doubleW {
    width: 8rem;
}

.doubleH {
    height: 8rem;
}

#zero, #decimal, #equals {
    margin-top: -4rem;
}